.header {
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 30rem;
  background: #12ABFE;
  box-shadow: 0 0 .4rem rgba(0,0,0, .4);
}

.heading {
  padding: 1.4rem;
  margin: auto 0 0 0;
  align-self: flex-end;
  text-align: left;
  font-size: 4.8rem;
  font-weight: 100;
  line-height: 5.6rem;
  letter-spacing: .1rem;
}

.subline {
  padding: 1.4rem;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 100;
  background: #0F88CB;
}
