<div class="app">
  <app-header></app-header>
  <main class="main-content">
    <header class="search-bar">
      <input 
        class="search-bar__input" 
        [(ngModel)]="query"
        placeholder="Search for spaceship">
    </header>
    <ul class="data-list">
      <li class="data-list__item" #spaceshipContainer (click)="showSpaceship(item)" *ngFor="let item of (spaceships | search: query)">
        <spaceship [data]=item></spaceship>
      </li>
    </ul>
  </main>

  <spaceship-details *ngIf="currentSpaceship" [data]=currentSpaceship></spaceship-details>
  <app-footer></app-footer>
</div>