.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: calc(100% - 30rem);
  background: #0F88CB;
  box-shadow: 0 0 .4rem rgba(0,0,0, .4);
  text-align: right;
  padding: .7rem 1.4rem;
}

.footer p {
  margin: 0;
  padding: 0;
}