<header class="top-bar">
  <div class="top-bar__actions">
    <a class="btn top-bar__action" href="#" [routerLink]="['/spaceships/add']"><i class="fa fa-plus"></i> Add Spaceship</a>
  </div>
  <label for="search">Search for</label>
  <input class="input-search" [(ngModel)]="query" id="search" placeholder="Spaceship …">
</header>
<ul class="data-list">
  <li class="data-item" *ngFor="let item of (spaceships | search: query)">
    <a class="data-item__content data-item__content--link" href="#" [routerLink]="['/spaceships', item._id]">Name: {{item.name}} </a>
  </li>
</ul>